/* body {
	font-family: "Poppins", sans-serif;
	background-color: #212121;
}

.container {
	width: 70%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;

}

.box-form {
	background-color: transparent;
	backdrop-filter: blur(10px);
	padding: 4rem;
	border-radius: 16px;
	border: 3px solid white;
}


.form-title {
	color: white;
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
}

.or {
	color: yellow;
	text-align: center;
}

.form-footer a {
	text-decoration: none;
	color: white;
	padding: 6px;
}

.w-half {
	width: 50%;
}

.mx-3 {
	margin-left: 6px;
	margin-right: 6px;
}

.text-white {
	color: white;
} */
